{% extends 'base.html' %}

{% block content %}
<h1>Gym Classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Duration</th>
    <th></th>
    <th></th>
  </tr>

  {% for gym_class in gym_classes %}
  <tr>
    <td>{{gym_class.name}}</td>
    <td>{{gym_class.date }}</td>
    <td>{{gym_class.duration}}</td>
    <td><a href="/gym_classes/{{gym_class.id}}">Details</a></td>
    <td><a href="/gym_classes/edit/{{gym_class.id}}">Edit</a></td>
    <td><a href="/gym_classes/remove/{{gym_class.id}}">Remove</a></td>
  </tr>
  {% endfor %}
  </table>
  <br/>
  <a href="/gym_classes/add">Click to add a new gym class</a>
  {% endblock %}


