{% extends 'base.html' %}

{% block content %}
<form action="/members/save" method="POST">
    <input type="hidden" name="id" value={{member.id}}>

    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" value="{{member.first_name}}">

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" value="{{member.last_name}}">

    <label for="age">Age:</label>
    <input type="text" name="age" value="{{member.age}}">

    <input type="submit" value="Save">
</form>
{% endblock %}