{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Gym Class</th>
    <th>Gym Time</th>
    <th></th>
  </tr>
  {% for booking in bookings %}
  <tr>
    <td>{{booking.member.last_name}},{{booking.member.first_name}}</td>
    <td>{{booking.gym_class.name }}</td>    
    <td>{{booking.gym_class.date}}</td>
    
    <td><a href="/bookings/remove/{{booking.id}}">Remove</a></td>
  </tr>
  {% endfor %}
</table>
<br/>
<a href="/bookings/add">Click to add a new booking</a>
{% endblock %}