body, select, input{
    font-family: 'Raleway', sans-serif; 
}

body {
    background: rgb(230, 229, 229);
}

h1 {
    font-weight: 700;
}

a:visited{
    color:black

}

a:hover{
    color: red;
    font-weight: 700;
}