table {
    padding: 25px;
    box-sizing: border-box;
    border-collapse: collapse;
}
td,th{
    padding-left:25px;
    min-width: 220px;
    text-align: left;
}
tr {
    display:block;
}
tr:hover{
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
}

table tr:nth-child(even){
    background:#bad1f9;
}
table tr:nth-child(odd) {
    background:#94b8f5;
}
